<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">Gameplay Flow</h2>
      <p class="about-text">
        The better you match, the more cool stuff you unlock.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <svg class="about-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-gameplay1"></use>
          </svg>
          <p class="about-item-text">
            Match three or more tiles to clear the board.
          </p>
        </li>
        <li class="about-list-item">
          <svg class="about-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-gameplay2"></use>
          </svg>
          <p class="about-item-text">
            Earn rewards to unlock landmarks, outfits, and decorative items.
          </p>
        </li>
        <li class="about-list-item">
          <svg class="about-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-gameplay3"></use>
          </svg>
          <p class="about-item-text">
            Complete missions and events to progress the story.
          </p>
        </li>
        <li class="about-list-item">
          <svg class="about-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-gameplay4"></use>
          </svg>
          <p class="about-item-text">
            The better you match, the more cool stuff you unlock.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
