<section class="section characters-section" id="characters">
  <div class="characters-bg-wrapper">
    <div class="container characters-container">
      <div class="characters-content-wrapper">
        <h2 class="section-title characters-title">Characters</h2>
        <p class="characters-text">
          Each character brings charm and personality, influencing the story’s
          romantic twists. Gameplay progression unlocks new outfit styles and
          bonus abilities tied to character arcs.
        </p>
        <ul class="characters-list">
          <li class="characters-list-item">
            <img
              class="characters-img"
              src="./img/characters/characters-img1.png"
              alt="Screenshot of the game"
              width="340"
              height="350"
              loading="lazy"
            />
            <div class="characters-item-text-wrapper">
              <p class="characters-item-title">Captain Maximus</p>
              <p class="characters-item-text">
                Confident and charming, he steers every adventure with heart and
                style.
              </p>
            </div>
          </li>
          <li class="characters-list-item">
            <picture>
              <source
                srcset="./img/characters/characters-img2-desk.png"
                media="(min-width: 1440px)"
                width="340"
                height="350" />
              <source
                srcset="./img/characters/characters-img2-mob.png"
                width="340"
                height="300" />
              <img
                class="characters-img"
                src="./img/characters/characters-img2-mob.png"
                alt="Screenshot of the game"
                width="340"
                height="300"
                loading="lazy"
            /></picture>
            <div class="characters-item-text-wrapper">
              <p class="characters-item-title">Meet Sarah,</p>
              <p class="characters-item-text">
                the adventurous protagonist, and her loyal corgi Lucky.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <picture>
      <source
        srcset="./img/characters/characters-img3-desk.png"
        media="(min-width: 1440px)"
        width="862"
        height="463" />
      <source
        srcset="./img/characters/characters-img3-mob.png"
        width="343"
        height="442" />
      <img
        class="characters-dog-img"
        src="./img/characters/characters-img3-mob.png"
        alt="Screenshot of the game"
        width="343"
        height="442"
        loading="lazy"
    /></picture>
  </div>
</section>
