<section class="section destinations-section" id="destinations">
  <div class="destinations-bg-wrapper">
    <div class="container destinations-container">
      <div class="destinations-content-wrapper">
        <div class="destinations-text-wrapper">
          <h2 class="section-title destinations-title">
            Destinations & Levels
          </h2>
          <div class="destinations-text-container">
            <p class="destinations-text">
              Travel to amazing cities and beautiful ports all over the world.
            </p>
            <p class="destinations-text">
              Every place you visit has its own puzzle style and decorations
              that look totally different.
            </p>
            <p class="destinations-text">
              You'll visit romantic spots in Europe, tropical islands, and tons
              of other cool places you can customize.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/destinations/destinations-img-desk.png"
            media="(min-width: 1440px)"
            width="528"
            height="475" />
          <source
            srcset="./img/destinations/destinations-img-mob.png"
            width="343"
            height="308" />
          <img
            class="destinations-img"
            src="./img/destinations/destinations-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="308"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
