<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Love Cruise free to play?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — it’s free with optional in-app purchases.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I play offline?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — the core puzzle experience works without Wi-Fi.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are there story elements?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — the love story develops as you play through the game.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are there many levels?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yep! There are tons of levels to keep you busy.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Can I unlock outfits and decorations?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely — win matches to personalize locations and outfits.
        </p>
      </li>
    </ul>
  </div>
</section>
